<div class="current-user">
  <div class="current-conversations">
    <div class="conv-user-avatar">
      <div class="avatar dropdown-toggle">
        <% if message.user.photo? %>
          <%= cl_image_tag message.user.photo.path,:width=>25, :height=>25, :gravity=>"auto", :crop=>"fill" %>
        <% else %>
          <%= image_tag 'avatar.png',:width=>10, :height=>10, :gravity=>"auto", :crop=>"fill" %>
        <% end %>
      </div>
    </div>
    <div class="talk-bubble tri-right round left-in current-user-message">
      <p class="current-user-message"><%= message.content %></p>
    </div>
  </div>
</div>
