/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url('https://fonts.googleapis.com/css');
$base-font: "Open Sans", "Helvetica", "sans-serif";

$header-font: 'brandon_grotesquebold', "Helvetica", "sans-serif";


// Font-size and line-height
$header1-size:25px;
$header2-size: 20px;
$base-size: 16px;



// Local fonts (uncomment following lines)
@font-face {
    font-family: 'brandon_grotesquebold';
    src: font-url('brandon_bld-webfont.woff2') format('woff2'),
         font-url('brandon_bld-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: font-url('brandon_reg-webfont.woff2') format('woff2'),
         font-url('brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesque_light';
    src: url('brandon_font/Brandon_light.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

// $my-font: "Font Name";



// ?
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme

$red: #EE5F5B;
$dark-red: #FC4040;
$blue: #5CC8FF;
$green: #64DAA7;
$dark-gray: #4A4A4A;
$light-gray: #9B9B9B;


//size fonts

h1 {
  font-family: $header-font;
  font-size: $header1-size;
}

h2 {
  font-family: $header-font;
  font-size: $header2-size;
}

p {
  font-family: $base-font;
  font-size: 300;
  font-size: $base-size;
}

