<h1>Welcome <%= @user.first_name %></h1>

<p>Here at BookShare you can find your next best book without searching!</p>
<p>See you soon on BookShare</p>
<%= link_to "Go to BookShare website", root_url  %>

