/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.home-title {
  width: 785px;
  margin: auto;
  height: 100vh;
}

.home-subtitle {
  display: flex;
  align-items: center;
}

.home-title1 {
  font-family: $header-font;
  font-size: 48px;
  color: white;
  display: inline-block;
  padding-bottom:20px;
}

.home-title2 {
  font-family:$base-font;
  font-weight:lighter;
  font-size: 22px;
  color: white;
}

.home-searchbar-title {
  font-family: $base-font;
  font-weight: 300;
  font-size: 20px;
}

.searchbar {
  background: #FFFFFF;
  border-radius: 4px;
  width:70%;
  margin:auto;
  padding:20px 12px;

}
.container-searchform {
  position:relative;
}

.background-blue {
  background-color: $blue;
  min-height: 250vh;
}

.btn-home {
  background-color:none;
  color:white;
  border: white 1px solid;
  font-family:'brandon_grotesque_regular';

}

.connect {
  font-family: 'brandon_grotesque_regular';
}

.small-container {
  width: 565px;
  margin: 0px auto;
}


.api-img {
  width: 75px;
  height: 115px;
  // opacity: 1;
  // &:hover{
  // opacity: 0.5;
  // transition: opacity .5s ease-out;
  // }
}

#search-results {
  margin: 25px 0px 25px 0px;
  padding: 10px;
  border-radius: 2px;
}

.container-api-img {
  margin: 25px 0px 25px 0px;
}

.selected-book-cover {
  margin: 10px 0px 10px 0px;
  padding: 5px;
}

#submit_button {
  margin: 10px 0px 10px 0px;
  padding: 5px;
}


// Navbar

.pages-home .navbar-wagon {
  background: $blue;
  box-shadow: none;

}
.pages-home .navbar-wagon-item {
  color: white;
  font-family:'brandon_grotesque_regular';
  font-size:18px;
  padding: 7px;
}


.pages-home .navbar-wagon-logo {
  content: asset-url("logo_white.png");
}

.pages-home .fa-envelope-o {
  color:white;
}

.pages-home .shopping-cart-logo {
  content: asset-url("basket_white.png");
}


.pages-home .fa-user-circle-o {
  color:white;
}


