.container-search {
  position: relative;
}

.text-title {
  position: relative;
  padding-left: 25px;
}

.container-link{
  position: absolute;
  padding-left: 10px;
  top: 10px;
  right: 30px;
}

p {
  text-align: center;
  color: #333333;
}

.span-form {
  text-align: center;
  padding: 20px;
}

.span {
  position: relative;
  text-align: center;
  // right: 10px;
  // top: 10px;
  margin: 10px;
} p {
  text-align: center;
}

#map {
  width: 100%;
  height: 74vh;
}

#card-column {
  // position:fixed;
  // top:200px;
  // float:left;
  height: 74vh;
  float:left;
  overflow-y: auto;
  padding-left: 40px;
}
