.container-search {
  position: relative;
  margin-left: 30px;
  max-width: 1170px;
}

.text-title {
  position: relative;
  padding-left: 25px;
}

.container-link{
  position: absolute;
  padding-left: 10px;
  top: 10px;
  right: 30px;
}

.span-form {
  text-align: center;
  padding: 20px;
}

#map {
  width: 120%;
  height: 74vh;
}

#card-column {
  // position:fixed;
  // top:200px;
  // float:left;
  height: 74vh;
  float:left;
  overflow-y: auto;
}

.user-link {
  margin-left: auto;
  padding-right: 10px;
  color: $red;
}

.user-details-books {
  margin-left: auto;
  color: $blue;
}
