<h1>Bienvenue sur votre dashboard <%= current_user.first_name %> !</h1>

<div class = "container">
  <!-- Cette row contient le Dashboard -->
  <div class = "row">
    <!-- Cette colonne contient la barre latérale -->
    <div class = "col-xs-3" style = "background-color: #F3F3F3">
      <p>Texte 1</p>
      <p>Texte 2</p>
    </div>
    <!-- Cette colonne contient le contenu des tabs -->
    <div class = "col-xs-9">
      <h2>Contenu</h2>
    </div>
  </div>
</div>
