<div id="footer">
  <div class="icons-left">
    <div class="list-inline">
      <a href=""><i class="fa fa-youtube"></i></a>
      <a href=""><i class="fa fa-instagram"></i></a>
      <a href=""><i class="fa fa-facebook"></i></a>
      <a href=""><i class="fa fa-twitter"></i></a>
    </div>
  </div>
  <div class="text-right">
    <p>Proudly developed by Camille, Anne-Sophie & Quentin © BookShare 2017</p>
  </div>
</div>
