
<% @order.bookmate.bookmate_book_categories.each do |bookmate_book_category| %>
  <h2>category: <%= bookmate_book_category.name %> </h2>

  <% bookmate_book_category.selling_books.each do |selling_book| %>
    <%= cl_image_tag selling_book.book.photo.path, :width=>200, :gravity=>"auto", :crop=>"fill"%>
  <% end %>
<% end %>

<!--
    if @bookmate.deliver_by_hand
      delivery_type_array << "livraison à domicile"
    end
    if @bookmate.home_delivery
      delivery_type_array << "livraison en main propre"
    end -->
