<div class="background-blue">
  <div class="container padded-top-lg">
    <div class="home-title text-center">
      <div class="home-title1">Trouvez votre prochain livre sans chercher</div>
      <div class="home-subtitle padded-bottom-lg">
        <div class="home-title2 text-left">
          Accédez à des bookstores fait par des personnes avec qui vous partagez les mêmes affinités
        </div>
        <div>
          <%= image_tag "shelf.png" %>
        </div>

      </div>

      <div class="container-searchform">
      <%= render 'search_form' %>
        <div><%= image_tag "button-plus.png", class: "btn-plus" %></div>
      </div>
      <div id="content"></div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
<!-- <script> -->
    $(document).ready(function() {
      window.onload = function geoFindMe() {
      var output = document.getElementById("out");

      if (!navigator.geolocation){
        console.log("Geolocation is not supported by your browser");
        return;
      }

      function success(position) {
        var latitude  = position.coords.latitude;
        var longitude = position.coords.longitude;
        $("#latitude").val(latitude);
        $("#longitude").val(longitude);
          if ( !$('#latitude') != null && !$('#longitude') != null) {
            $("#submitsearch").removeAttr("disabled");
          };
        console.log('Latitude is ' + latitude + '° Longitude is ' + longitude + '°');
      }

      function error() {
        console.log("Unable to retrieve your location");
      }

      console.log("Locating…");

      navigator.geolocation.getCurrentPosition(success, error);
    }
    // function handleResponse(response) {
    //   for (var i = 0; i < response.items.length; i++) {
    //     var item = response.items[i];
    //     // in production code, item.text should have the HTML entities escaped.
    //     document.getElementById("content").innerHTML += "<br>" + item.volumeInfo.title + item.volumeInfo.authors + item.volumeInfo.imageLinks.smallThumbnail
    // }
    // }
      $('#searched_books').on('keyup', function(event) {
        console.log($('#searched_books').val());
      });
    });
  <% end %>
<% end %>
