.book-header {
  background-color: $light-blue;
  padding-top: 60px;
}

.book-header-container {
  background-color: white;
  display: flex;
  width: 90%;
  margin: auto;
}
.book-body-wrapper {
  width: 90%;
  margin: auto;
}

.book-header-details {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.book-header-description {
  flex: 0 0 70%;
  h1 {
    margin-top: 0;
    font-size: 22px !important;
  }
  .bookmate-avatar {
    margin-top: -60px;
    border: 10px solid white;
    float: right;
  }
}

.book-header-actions {
  flex: 0 0 26%;
  align-self: center;
}

.book-body {
  margin-top: 20px;
}

.book-body-column {
  background-color: $light-grey;
  margin-bottom: 20px;
  padding: 20px;
}

.bookmate-avatar {
  height: 80px;
  width: auto;
  border-radius: 50%;
  border-style: solid white 4px;
}
