#footer {
  position:relative;
  display:block;
  bottom:0;
  width:100%;
  background: rgba(74,73,74,0.77);
  padding: 10px 0;
  color: white;
  bottom:0;
}
#footer p {
  margin-top: 20px;
  color: white;
  font-size: 12px;
}
#footer ul {
  margin-top: 5x;
}
#footer a {
  color: #D6D6D6;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}
#footer a:hover{
  color: #F9F9F9;
}
