.bookmates-show #footer {
  display: none;

}

.bookmate-show {
  .navbar-wagon {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 3000;
  }
}

.side-bar {
  height:94vh;
  // width:209px;
  width:100%;
  background-color:$light-grey;
}

.side-bar a{
  text-decoration: none;
}

.position-relative {
  position:relative;
}

.side-bar-padding-top {
  padding-top: 80px;
}

.sidebar {
  position: fixed;
  width: 250px;
  top: 55px;
  left: 0;
  bottom: 0;
  background-color: $light-grey;
  h3 {
    padding-left: 38px;
    margin-top: 75px;
  }
}

#text-column {
  height:94vh;
  float:right;
  overflow-y: auto;
}

.current {
  background: rgba(255,115,115,0.20);
  border-left: 4px solid #FF7474;
  color: $dark-grey;
  letter-spacing: 0.5px;
  padding: 5px 10px 5px 0;
}

.book-categories {
  display: flex;
  flex-direction: column;
}

.book-categories img {
  width: 125px;
  height: auto;
}

.book-card {
  display: inline-block;
  padding: 20px;
  text-align: center;
}

.book-card img:hover {
  cursor: pointer;
  width: auto;
  height: 220px;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}
