.bookmates-show #footer {
  display: none;

}
.side-bar {
  height:94vh;
  // width:209px;
  width:100%;
  background-color:$light-grey;
}

.side-bar a{
  text-decoration: none;
}

.position-relative {
  position:relative;
}

.side-bar-padding-top {
  padding-top: 80px;
}

.side-bar-padding-left {
  padding-left:10px;
}

#text-column {
  height:94vh;
  float:right;
  overflow-y: auto;
}

.current {
  background: rgba(255,115,115,0.20);
  border-left: 4px solid #FF7474;
  color: $dark-grey;
  letter-spacing: 0.5px;
  padding: 5px 0 0 0;
}

.book-categories {
  display: flex;
  flex-direction: column;
}

.book-categories img {
  width: 125px;
  height: auto;
}

.book-card {
  display: inline-block;
  padding: 20px;
}
