.bookmates-show #footer {
  display: none;

}

.bookmate-show {
  .navbar-wagon {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 3000;
  }
}

.side-bar {
  height:94vh;
  // width:209px;
  width:100%;
  background-color:$light-grey;
}

.side-bar a{
  text-decoration: none;
}

.position-relative {
  position:relative;
}

.side-bar-padding-top {
  padding-top: 80px;
}

.sidebar {
  position: fixed;
  width: 250px;
  top: 55px;
  left: 0;
  bottom: 0;
  background-color: $light-grey;
  h3 {
    padding-left: 38px;
    margin-top: 75px;
  }
}

#text-column {
  height:94vh;
  float:right;
  overflow-y: auto;
}

.current {
  background: rgba(255,115,115,0.20);
  border-left: 4px solid #FF7474;
  color: $dark-grey;
  letter-spacing: 0.5px;
  padding: 5px 10px 5px 0;
}

.book-categories {
  display: flex;
  flex-direction: column;
}

.book-categories img {
  width: 125px;
  height: auto;
}

.book-card {
  display: inline-block;
  padding: 20px;
  text-align: center;
}

.book-card img:hover {
  cursor: pointer;
  width: auto;
  height: 220px;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}

.bookmate-books {
  background-color: $light-grey;
  width: 100%;
}

.bookmate-books:hover {
  background-color: $light-blue;
  width: 100%;
}

.inline-block {
  span {
  display : inline-block;
  }
}

.bookmate-avatar {
  margin-top: 30px;
}

.bookmate-tabs {
  display: flex;
  flex-direction: column;
  padding: 2px 2px 2px 2px;
}
.bookmate-tabs a {
  color: black;
  text-decoration: none;
}
.bookmate-tab:hover {
  background: rgba(255,115,115,0.20);
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.bookmate-tab.active {
  background: rgba(255,115,115,0.20);
  border-left: 8px solid #FF7474;
  color: $dark-grey;
  letter-spacing: 0.5px;
}
.bookmate-tab h2 {
  padding-left: 5px;
  font-weight: 700;
  font-size:16px;
  margin: 0;
}
.bookmate-tab {
  padding: 15px 0 15px 30px;
  border-left: 8px solid transparent;
}
