.card {
  height: 175px;
  background-size: cover !important;
  color: white;
  position: relative;
  margin-bottom: 10px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
.card-user {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid white;
}
.card-user img {
  width: auto;
  height: 100%;
  border-style: solid white 4px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-title {
  font-size: 20px;
  font-weight: bolder;
}

.card-home {
  font-weight: bolder;
  padding: 20px;
}

.card-edit {
  position: absolute;
  top: 5px;
  right: 50px;
}
