.form-inputs {
  width: 400px;
  border-radius: 2px;
  margin: 0 auto;
  text-align: left;
}

.form-container {
  text-align: center;
  font-weight: bolder;
  margin: 0 auto;
  // padding: 40px 0px 40px 0px;
  color: white;
  min-height: calc(100vh - 60px - 55px);
}

.form-container a {
  text-decoration: none;
}

.form-container a:hover {
  text-decoration: none;
}
