.tabs {
  display: flex;
  flex-direction: column;
  padding: 2px 2px 2px 2px;
}
.tabs a {
  color: black;
  text-decoration: none;
}
.tabs a:hover {
  background: rgba(255,115,115,0.20);
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs {
  flex: 1 1 auto;
  padding: 5px 0;
}
.tab.active {
  background: rgba(255,115,115,0.20);
  border-left: 4px solid #FF7474;
  color: $dark-grey;
  letter-spacing: 0.5px;
}
.tab-content {
  margin-top: 10px;
  padding: 10px;
}

.tab h2 {
  padding-left: 5px;
}
