.tabs {
  display: flex;
  flex-direction: column;
  padding: 2px 2px 2px 2px;
  font-family: 'brandon_grotesquebold', sans-serif;
}
.tabs a {
  color: black;
  text-decoration: none;
}
.tabs a:hover {
  background: rgba(255,115,115,0.20);
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.tab p {
  font-family: 'brandon_grotesquebold', sans-serif;
  font-size: 18px;
  color: #4A4A4A;
  letter-spacing: 0.5px;
  margin-left: 10px;
  padding: 5px 0 0 0;
  text-align: left;
}
.tabs {
  flex: 1 1 auto;
  padding: 5px 0;
}
.tab.active {
  background: rgba(255,115,115,0.20);
  border-left: 4px solid #FF7474;
  color: $dark-grey;
  letter-spacing: 0.5px;
  padding: 5px 0 0 0;
}
.tab-content {
  margin-top: 10px;
  padding: 10px;
}
