.users-show #footer {
  display: none;
}

span p {
  display: inline-block;
}

.order-details {
  display:flex;
  flex-direction:column;
}

.profile-details {
  display: flex;
  flex-direction: column;
}
